*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.grid {
  border: 0.1px solid black;
  width: 6px;
  height: 6px;
}

.change {
  background-color: black;
}

.selection,
select {
  font-size: 5px;
  border-radius: 2px;
  border: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(./img/arrow.png);
}
